@import '../SassVariables.scss';

.text-animate {
    display: inline-block;
    min-width: 8px;
    opacity: 0;
    animation: bounceIn 1s 1s forwards;
}

@for $i from 1 through 100 {
    .text-animate.idx-#{$i} {
        animation-delay: #{calc($i / 10
        )}s;
    }
}